PS5.CSS
header {
    display: grid;
    text-align: center;
    word-spacing: 2cm;
    color:violet;
    background: black;

}

main {
    max-width: 100%;
    height: 75px;
    color: blue;
    background: purple;
    text-align: center;
}



p {
    color: black;
    background: white;
    text-align: center;
}



body {
    display: grid;
    grid-template-rows: 5% 50% 20%;
    grid-area: 100%;
    
    width: 100%;
}

img {
max-width: auto;
height: 300%;
justify-content: center;
margin: auto auto;  
}

nav.a {
    width: auto;
    display: grid;
    text-align: center;
    word-spacing: 2cm;
    color:violet;
    background: black;
}
