*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  h1{
    
    text-align: center;
    padding: 40px;
  }
  
  
  div{
    
    background-color: grey;
      border-style: solid;
    padding: 60px;
    margin: 15px;
    position: relative;
    overflow:auto;
    
  }
  
  
  
  .box{
    position: absolute;
      top: 0;
      right: 0;
    width: 150px;
    height: 40px;
    padding: 5px;
    text-align: center;
    border: solid 10px;
    border-color: black;
    background-color: yellow;
  }
  
  .bg-playstationone{
        background-color: violet;
  }
  
  .bbg-playstationtwo{
      background-color: violet;;
    }
  
  .bg-playstationthree{
        background-color: green;
        
  }
  
  @media screen and (min-width: 780px){
    div{
      width: 45%;
      float: left;
    }
    div:nth-child(3){
      width: 95%;
    }
  }
  
  @media screen and (min-width: 992px){
    section{
      display: flex;
    }
    div{
      width: 45%;
    }
    div:nth-child(3){
      width: 45%;
    }
    }
  